/* ========== base ========== */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
  font-family: 'HiraKakuPro-W3', sans-serif;
  word-break: break-word;
}

img {
  align-items: center;
  width: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ========== component ========== */
/* ----- header ----- */
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  transition: color 0.4s ease-out;
  color: #fff;
}

.header.headerColorScroll {
  color: #333;
  font-size: 14px;
  transition: color 0.4s ease-out;
}

.header .inner {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 22px 0;
  font-size: 14px;
}

.header .navList {
  display: flex;
  justify-content: flex-end;
}

.header .navList .item:nth-child(n+2) {
  margin-left: 20px;
}

/* ========== firstView ========== */
.firstView {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/firstView03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.firstView .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

/* ========== achievement ========== */
.achievement {
  width: 100%;
  padding: 120px;

}

.achievement .inner {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}

.achievement .container {
  width: 100%;
  margin-top: 30px;
}

.achievement .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts .post {
  width: 32%;
}

.posts .post:nth-child(n+4)  {
  margin-top: 22.8px;
}

.achievement .posts .post .image {
  width: 100%;
  padding-top: 156.3934%;
  background-position: center;
  background-size: cover;
  background-image: url(../img/postImg01.jpg);
}

.achievement .posts .post .image:hover {
  filter: brightness(65%);
  transition-duration: 0.3s;
}

.achievement .anchorWrap {
  margin-top: 30px;
  text-align: right;
  line-height: 2;
}

.achievement .anchorWrap .anchor {
  padding-bottom: 7px;
  border-bottom: #333 solid 1px;
}

.achievement .anchorWrap .anchor:hover {
  opacity: 0.50;
  transition-duration: 0.3s;
}

/* ========== about ========== */
.about {
  width: 100%;
  padding: 120px 0;
  background-color: #000;
  color: #fff;
}

.about .inner {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}

.about .content {
  width: 100%;
  display: flex;
}

.about .content .imageWrap {
  width: 32%;
}

.about .content .imageWrap .image {
  width: 100%;
  padding-top: 156.3934%;
  background-position: center;
  background-size: cover;
  background-image: url(../img/aboutImg01.jpg);
}

/* ========== footer ========== */
.footer {
  width: 100%;
  padding: 40px 0;
}

.footer .inner {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: right;
}

.footer .inner .copyright {
  font-size: 12px;
}